
.education-card__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "logo" "title" "institution" "duration";
    column-gap: 1rem;
}

.education-card__logo {
    grid-area: logo;

    border-radius: 8px;
    border: 1px solid var(--color-divider);

    object-fit: contain;
    width: 6rem;
    height: 6rem;
}

.education-card__title {
    grid-area: title;
    font-size: 1.6rem;
    color: var(--color-primary);
}

.education-card__institution {
    grid-area: institution;
}

.education-card__duration {
    grid-area: duration;
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
}

@media (min-width: 800px) {
    .education-card__header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo title duration"
            "logo institution duration"
            "logo . duration";
    }
}
