

.card {
    background-color: var(--color-surface);

    border-radius: 20px;
    border: 1px solid var(--color-divider);

    display: flex;
    flex-direction: column;
}

.card__header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-divider);
}

.card__content {
    padding: 0.5rem 1rem;
}

@media (min-width: 1200px) {
    .card__header {
        padding: 1rem 2rem;
    }

    .card__content {
        padding: 1rem 2rem;
    }
}