.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    gap: 0.5rem;

    max-height: 360px;
    overflow: hidden;
}

.carousel-item {
    position: relative;

    cursor: pointer;

    border-radius: 4px;
    border: 1px solid var(--color-divider);

    height: 100%;
    overflow: hidden;
    background-color: var(--color-surface);
}

.carousel-item__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.carousel-item__overlay {
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--color-overlay);
}

.carousel-item:hover > .carousel-item__overlay {
    display: block;
}

.carousel-item__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: var(--color-surface);
    color: var(--color-text);

    padding: 0.5rem 1rem;
}

.carousel-item__title {
    font-size: 1.2rem;
}

.carousel-item__description {
    font-family: "Roboto Mono", ui-monospace;
}

.carousel-modal {
    position: relative;
}

.carousel-modal__image {
    flex: 1 1 0;
    object-fit: contain;
}

.carousel-modal__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 6rem;

    background-color: var(--color-overlay);

    display: flex;
    flex-direction: row;
}

.carousel-modal__description {
    flex: 1;
}

.carousel-modal__caption-button {
    border-radius: 0;
    outline: none;
    border: none;
}

.carousel-modal__caption-button:hover {
    background-color: var(--color-overlay);
}

