.navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem 1rem;
    background-color: var(--color-surface);
    border-radius: 4px;
    border: 1px solid var(--color-divider);
}


.navigation-item {
    color: var(--color-text);
}

.navigation-item:hover {
    color: var(--color-primary);
}

.navigation-item[data-active] {
    border-bottom: 1px solid var(--color-primary);
}

@media (min-width: 800px) {
    .navigation {
        flex-direction: row;
    }
}